* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/cadastrar-page/Project/assets/img/drew-beamer-kUHfMW8awpE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-box {
    width: 350px;
    height: 360px;
    background-color: #232526;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 8px;
}

.user-box input {
    width: 280px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-left: 10px;
    background-color: #3d3f41;
    border: none;
    color: #00b08b;
}

.user-box ::placeholder{
    color: #F2F2F2;
}

.user-box input:enabled {
    outline: none;
}

.user-box input:focus {
    color: #00b08b;
}


h2 {
    font-size: 1.75rem;
    color: #B7D9AD;
    text-align: center;
}

.link {
    margin-top: 12px;
    margin-bottom: 18px;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.link a {
    color: #B7D9AD;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;

}

.link .signup {
    color: #B7D9AD;
    font-weight: 500;
    transition: all 0.3s ease;
}

.link a:hover {
    /* transform: scale(1.05); */
    text-decoration: underline;
} 

.forgot:hover {
    /* transform: scale(1.05); */
    text-decoration: underline;
} 

.button input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #B7D9AD;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.button input:hover {
    background-color:#F2F2F2 ;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}